<h2 class='title'>A new user just requested for a demo.</h2>
<div class='container'>
  <h2>Details:</h2>
  <h3 class='row'>Name: {{name}} </h3>
  <h3 class='row'>Email: {{email}} </h3>
  <h3 class='row'>Company: {{company}}</h3>
  <h3 class='row'>Message: {{message}}</h3>
</div>