<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Zummit Africa Inc</title>

    <style type='text/css'>
      @import url(http://fonts.googleapis.com/css?family=Droid+Sans); body {
      display: flex; width: 100%; font-size: 16px; margin: 0px; padding: 0px;
      background-color: #ffffff; align-items: center; } .header {
      background-color: #081f4a; color: #f7f7f7; padding: 15px 20px;} .name {
      font-size: 18px; color: #dbfffd; font-weight: 600; } .image { padding:
      20px; } .banner { width: 100%; } .body { padding: 10px; flex-direction:
      column; background-color: #ffffff; margin-top: 4px; } .content {
      background-color: #ffea00; padding: 20px; } .paragraph { padding: 0px;
      margin: 0px; font-style: italic; color: #081f4a; font-size: 18px;
      margin-bottom: 4px; } .steps { margin-top: 2rem; color: #081f4a; }
      .heading { margin-bottom: 1rem; font-size: 18px; font-weight: 600; } ul {
      font-size: 18px; } li { margin-bottom: 4px; } .footer-text { padding: 0px;
      margin: 0px; font-size: 18px; } .footer-greeting { padding: 0px; margin:
      0px; font-size: 18px; margin-top: 2rem; } .ceo-div { display: flex;
      align-items: center; justify-content: center; margin-top: 2rem; } .ceo {
      width: 150px; } .signage { margin-top: 2rem; display: flex; align-items:
      center; justify-content: center; flex-direction: column; } .signage p {
      padding: 0px; margin: 4px; }

    </style>

  </head>

  <body>
    <div>
      <div class='header'>
        Hello
        <span class='name'>{{first_name}}!</span>
      </div>
      <section class='body'>
        <div class='image'>
          <img
            class='banner'
            src='https://zummit-africa.s3.amazonaws.com/za_folder/ZA_WhatsApp+Image+2022-12-14+at+13.41.10.jpeg'
            alt='Banner'
          />
        </div>
        <div class='content'>
          <p class='paragraph'>Congratulations!</p>
          <p class='paragraph'>
            You’ve successfully completed registration for the 9 weeks Python
            Data Science course.
          </p>
          <p class='paragraph'>Your registration is confirmed.</p>
          <p class='paragraph'>
            You have taken a big step towards mastering a new skill and we are
            excited to see you start learning.
          </p>

          <div class='steps'>
            <p class='heading'>Here are a few tips to keep in mind to succeed:</p>
            <ul>
              <li>
                Interact with fellow learners on Slack. Chat with your mentor
                whenever you are having difficulties with your coursework.
              </li>
              <li>
                Watch video recordings of live classes over and over again till
                you gain a mastery of the topic
              </li>
              <li>Ensure to submit every assignment as you will be graded on
                them</li>
            </ul>
          </div>
          <div class='footer'>
            <p class='footer-text'>We are really happy to see you start.</p>
            <p class='footer-text'>
              Please, make sure you click the download button below this mail
              for further information.
            </p>
            <p class='footer-greeting'>Kind regards</p>
          </div>
        </div>
        <div class='ceo-div'>
          <img
            class='ceo'
            src='https://zummit-africa.s3.amazonaws.com/za_folder/ZA-WhatsApp+Image+2022-12-14+at+13.41.11.jpeg'
            alt='ceo'
          />
        </div>
        <div class='signage'>
          <p>Jonathan Enudeme, </p>
          <p>CEO</p>
          <p>Zummit Africa, Inc</p>
        </div>
      </section>
    </div>
  </body>
</html>